@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Public sans';
    background-color: rgb(230, 255, 250);
}

.hero-image{
    background-image: linear-gradient(rgba(10, 68, 55, 0.25), rgba(255, 255, 255, 0.2)), url("./Images/Hero_image.jpg");
    position: relative;
    height: 35vi;
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.hero-text{
    color: rgb(5, 30, 51);
    position: absolute;
    text-align: center;
    top: 1vi;
    width: 100%;
    font-size: 10vw;
}

.sub-text{
    color: rgb(5, 30, 51);
    position: absolute;
    text-align: center;
    top: 16.5vi;
    width: 100%;
    font-size: 3vw;
}

.header{
    background-color: rgb(0,58,44);
}

.BHS-logo{
    position: relative;
    height: 9vi;
}

.date-text{
    position: absolute;
    text-align: right;
    color: rgb(0, 56, 78);
    font-weight: bold;
    top: 25vi;
    right: 1.7vi;
    font-size: 1.75vw;
}

.description{
    display: block;
    margin-top: 2vi;
    margin-bottom: 2vi;
    font-size: 1.5vw;
    color: rgb(0, 56, 78);
    background-color: rgb(230, 255, 250);
}

span{
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(5, 30, 51);
}

.contact-title{
    font-size: 1.8vw;
    font-weight: bold;
    color: rgb(255,255,255);
    margin-top: 2vi;
    display: block;
}

.text-description{
    margin-left: 7vw;
    margin-right: 7vw;
}

.extra-information{
    font-size: 1.2vw;
    background-color: white;
    display: block;
    margin-top: 2vi;
    margin-bottom: 2vi;
}

.list{
    list-style-type: none;
    padding: 0;
    left: 400vi;
}

.list li{
    position: relative;
    padding-left: 2vw;
}

.list li::before{
    content: '★';
    position: absolute;
    left: 4vw;
    color: rgb(0,58,44);
}

.contact-info{
    font-size: 1.2vw;
    color: rgb(255,255,255);
    background-color: rgb(0,58,44);
    padding-left: 3.5vi;
    padding-top: 0.5vi;
    padding-bottom: 0.5vi;
}

.contact-container{
    display: flex;
    gap: 2vw;
    margin-bottom: 2.3vi;
    margin-top: 0.5vi;
}