.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/Heroimage.png");
    height: 650px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.hero-text{
    color: rgb(5, 30, 51);
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    font-size: 7rem;
}
